.App {
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  background: darkgrey;
  font-size: 1.6rem;
}

header {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  background-image: url(./assets/header.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4.5rem;
  letter-spacing: 2rem;
}

.matchedStrain {
  border: 2px solid black;
  background: green;
  color: white;
}

footer {
  background: white;
}

footer p {
  margin: 0;
  padding: 15px 0;
}