article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.App {
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  
}

.wrapper{
  max-width: 128rem;
  width: 85%;
  /* border: 2px solid red; */
  margin: 0 auto;
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  background-image: linear-gradient(180deg, transparent 0%, #000 130%), url(./assets/header.jpg);
  background-size: cover;
  color: white;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 4.5rem;
  letter-spacing: 2rem;
}

h2 {
  margin: 0 0 20px 0;
  font-size: 3rem;
}

h3 {
  margin: 0 0 10px 0;
}

ul {
  padding: 0;
  list-style: none;
  text-align: left;
}

p {
  margin: 0;
}

/* About styles */
.description {
  margin: 100px 0;
  text-align: left;
}

.description p {
  line-height: 1.8;
}



/* Form/effect styles */

.effectSelector {
    background: #DAA520;
    /* margin: 100px 0 50px 0; */
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0 50px 0;
}

.effectContainer {
  width: calc(33% - 40px);
  border: 3px solid#491a00;
  margin: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* padding: 10px 0; */
  text-transform: uppercase;
  transition: 0.2s all;
}

.effectContainer:hover {
  background:  	#491a00;
  color: white;
}

.effectContainer label {
  padding: 10px 50px;
}

/* CHANGE LATER TO MAKE ACCESSIBLE */
/* .effectContainer input {
  display: none;
} */

input[type=submit] {
  margin: 50px 0 100px 0;
  background: none;
  text-transform: uppercase;
  border: 3px solid#491a00;
  padding: 20px 50px;
  transition: 0.2s all;
}

input[type=submit]:hover {
  background:  	#491a00;
  color: white;
}


/* matched strains styles */
.matchedStrains {
  margin: 100px 0;
}

.matchedStrains {
  background: white;
}

.strainContainer {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 auto; */
}

.strain {
  /* background: green; */
  /* color: white; */
  width: calc(33.33% - 40px);
  border: 3px solid #DAA520;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  position: relative;
}

.strain ul {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  align-items: center;
}

.strain li {
  border: 1px solid #DAA520;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  width: calc(50% - 10px);
}

.strain button {
  border: none;
  background: none;
  padding: 5px 10px;
  /* margin-top: 20px; */
  font-size: 3rem;
  text-transform: uppercase;
  color: #DAA520;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
}

.strain button:hover {
  color: #a83f39;
}

/* Favourite strains styles */
.favStrains {
  background: #DAA520;
  color: white;
  padding: 100px 0 70px 0;
}

.favStrains .strain {
  border: 3px solid white;
}

.favStrains li {
  border: 1px solid white;
}

.favStrains button {
  color: white;
}

/* Footer styles */

footer {
  color: white;
  background: #DAA520;
}

footer p {
  margin: 0;
  padding: 15px 0;
}

.hidden {
  display: none;
}